body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
h2{
	font-size: 26px;
}
.toggle-container{
	margin: 10px 0;
}
.g1 , .g2, .g3{
	display: flex;
	align-items: center;
	margin: 10px 0;
}
.toggle{
	appearance: none;
	width: 60px;
	height: 30px;
	background-color: #ccc;
	border-radius: 50px;
	position: relative;
	cursor: pointer;
	outline: none;
	transition: background-color .3s ease;
}
.toggle::before{
	content: '';
	position:absolute;
	width:24px;
	height:24px;
	background-color: white;
	border-radius: 50%;
	top: 3px;
	left: 3px;
	transition: .3s;
}
.toggle:checked{
	background-color: purple;
}
.toggle:checked::before{
	transform: translateX(30px);
}
span{
	margin-left: 10px;
	font-size: 18px;
}